{% extends 'default.html' %}

{% block head %}
  <script type="module" src="/js/pages/home-page.js"></script>
  <link rel="stylesheet" href="/css/home-page.css">
{% endblock %}

{% block content %}

<h2>Welcome to the Moddy documentation !</h2>
<div class="subtitle">
  <p>
    Here you'll find everything you need to learn how to use <strong>Moddy</strong>, install it, configure it, and contribute to the open-source project.
  </p>

  <p>
    If you have any questions or requests, you can open a ticket on the <a href="https://moddy.app/support/" target="_blank"><strong>support server</strong></a> or contact us by email at <strong><a href="mailto:hello@moddy.app">hello@moddy.app</a></strong>.
  </p>
</div>

{% endblock %}
