---
permalink: "/legal/license/"
---
<!DOCTYPE html><html><head><meta charset="utf-8" /><meta http-equiv="refresh" content="0; url=/articles/license/" /><link rel="canonical" href="/articles/license/" /><title>Redirecting…</title></head><body><a href="/articles/license/">/articles/license/</a></body></html>
