---
pagination:
  data: labels
  size: 1
  alias: label
permalink: "/{{ label.id }}/"
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0; url=/collections/{{ label.id }}/" />
  <link rel="canonical" href="/collections/{{ label.id }}/" />
  <title>Redirecting…</title>
</head>
<body>
  <p>Redirecting to <a href="/collections/{{ label.id }}/">/collections/{{ label.id }}/</a>…</p>
</body>
</html>
