---
pagination:
  data: articles
  size: 1
  alias: article
permalink: "/{{ article.id }}/"
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0; url=/articles/{{ article.id }}/" />
  <link rel="canonical" href="/articles/{{ article.id }}/" />
  <title>Redirecting…</title>
</head>
<body>
  <p>Redirecting to <a href="/articles/{{ article.id }}/">/articles/{{ article.id }}/</a>…</p>
</body>
</html>
