---
pagination:
  data: authors
  size: 1
  alias: author
permalink: "/{{ author.id }}/"
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0; url=/authors/{{ author.id }}/" />
  <link rel="canonical" href="/authors/{{ author.id }}/" />
  <title>Redirecting…</title>
</head>
<body>
  <p>Redirecting to <a href="/authors/{{ author.id }}/">/authors/{{ author.id }}/</a>…</p>
</body>
</html>
