[submodule "webfont"]
	path = webfont
	url = https://github.com/moddy-app/webfont
[submodule "pagex"]
	path = pagex
	url = https://github.com/moddy-app/pagex
[submodule "voidcannon"]
	path = voidcannon
	url = https://github.com/moddy-app/voidcannon
[submodule "webicons"]
	path = webicons
	url = https://github.com/moddy-app/webicons
[submodule "gm3"]
	path = gm3
	url = https://github.com/moddy-app/gm3
[submodule "pagex_commons"]
	path = pagex_commons
	url = https://github.com/moddy-app/pagex_commons
