[submodule "webfont"]
	path = webfont
	url =  ../webfont
[submodule "pagex"]
	path = pagex
	url = ../pagex
[submodule "voidcannon"]
	path = voidcannon
	url = ../voidcannon
[submodule "webicons"]
	path = webicons
	url = ../webicons
[submodule "gm3"]
	path = gm3
	url = ../gm3
[submodule "pagex_commons"]
	path = pagex_commons
	url = ../pagex_commons
