---
pagination:
  data: articles
  size: 1
  alias: article
permalink: "/articles/{{ article.id }}/"
hasToc: true
---
{% extends 'default.html' %}

{% set pageTitle = article.title %}
{% set name = article.title %}

{% block head %}
  <link rel="stylesheet" href="/css/md-layout.css" />
  <link rel="stylesheet" href="/css/syntax-highlight.css" />
  {% if article.seo_level >= 2 %}
    <meta name="robots" content="noindex{% if article.seo_level == 3 %}, nofollow{% endif %}" />
  {% endif %}
{% endblock %}

{%- set renderedContent = article.rawContent.en | renderMarkdown -%}

{% block toc %}
{{ renderedContent | toc | filterToc | safe }}
{% endblock %}

{% block content %}
{{ renderedContent | mdMarkdown | safe }}
{% endblock %}
